body {
    background-color: #dfe6e9;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-color: #dfe6e9;
  }
.centerText {
    margin: auto;
    width: 50%;
    border: 3px #2d3436 ;
    padding: 20px;
    font-family: Eccentric STD;
}


.header {
    position: relative;
    overflow: hidden;
    background-color: #b2bec3;
    padding: 20px 10px;
    width: 1280px;
  }
  
  /* Style the header links */

